.login {
  height: 100%;
  background-color: $white;
  box-shadow: 0px 0px 5px rgba($black, .5);
  border-radius: 15px;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-weight: bold;
    color: $white;
    background-color: $green;
    border-radius: 15px 15px 0 0;
  }
}
.form {
  &-control,
  &__input,
  &__button {
    border-radius: 25px;
    outline: none;
    border: none;
    width: 100%;
  }
  &__input,
  &__button {
    height: 55px;
    font-size: .8rem;
  }
  &-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(75% - 1rem);
    padding: 0 .8rem;
    border-radius: 20px;
  }
  &-control {
    margin-bottom: 1rem;
    background-color: $white;

    &:first-child {
      margin-top: 3rem;
    }
  }
  &__input {
    padding: 0 1.5rem;
    line-height: 1.2;
    color: $dark-black;
    background-color: $grey;

    &::placeholder {
      color: $dark-black;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 1.2;
    color: $white;
    background-color: $green;
    text-transform: uppercase;
    transition: all 0.3s;
  }
}