.btn {
  font-size: .8rem;
  border: none;

  &-group {
    display: flex;
    justify-content: flex-end;
  }
  &.btn--add {
    width: 60px;
    height: 60px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 0;
    background-color: $green;
    border-radius: 30px;
    color: $white;
  }
  &.btn--action {
    padding: 10px;
    background-color: $grey;
    border-radius: $border-radius-item;
  }
}
