.btn {
  font-size: .8rem;
  border: none;

  &.btn--add {
    width: 60px;
    height: 60px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 0;
    background-color: $green;
    border-radius: 30px;
    color: $white;
  }
}
