$font-default: Montserrat, Arial, sans-serif;

// Website Themes
$ocean-blue:     #3F49D0;
$turquoise-cyan: #30E2CF;
$lighter-cyan:   #DCEDEB;
$darker-cyan:    #41C3EE;

$main-theme: #84A29F;
$secondary-theme: #B7CDC2;
$grey: #EAE6DA;
$grey-light: #F7F6EE;

// Other colors
$font-color: lighten(#454545, 15%);
$white:              #fff;
$green:              #74c54f;
$black:              #000;
$medium-black:       #454545;
$dark-black:         #333;
// $grey:               #dfdfdf;

// Social Media
$facebook:  #3b5998;
$linkedin:  #0077B5;
$youtube:   #cc181e;